
/*dev*/
div { border: 1px solid #fff; }


/*body*/

  *{
    background-color: #000;
    margin: 0;
  }

  .hr{
    border-width: 5px;
    border-color: #fff;
  }

  h1, h2, h3, h4{
    font-family: 'Press Start 2P', cursive;
  }
  .text{
    padding: 20px;
    color: white;
    text-align: center;
    margin: 0px;
  }
  .text p{
    font-size: 1.4em;
  }

/*double big divs*/

  #intro{
    font-family: 'Press Start 2P', cursive;
    padding: 3%;
  }

  #bio{
    padding: 3%;

  }

  #myBigDumbHead{
    height: 250px;
    width: 250px;
    margin: 0px;

  }

  #stats {
    text-align: left;
    list-style-type: none;
  }
/*projects*/

  .work{
    margin-top: 15%;
  }

  .example{
    border: 10px solid white;

  }

/*stat bars and stars*/

  .progress{
    margin-top: 3%;
    margin-bottom: 10px;
    border: 3px solid cornflowerblue;
    height: 20px;
  }

  .skills{
    margin-top: 30px;
    padding: 10px;
  }

  #stats{
    margin-top: 2%;
    padding: 2%;
    font-family: 'Press Start 2P', cursive;

  }


/* star styles*/

  .single{
    color: cyan;
  }

  .double{
    color: skyblue;
  }

  .triple{
    color: cornflowerblue; 
    /*best color*/
  }


/*header & footer*/

  header{
    font-family: 'VT323', monospace;
  }


  #footer-links{

    float: left;
    margin-left: 5%;
    margin-bottom: 1%;

  }

  #footer-links a{
    font-size: 1.5em;
    color: white;
    margin: 10px;
  }

  #footer-links a:hover{
    text-decoration: none;
    color: blue;
  }

