
/*dev*/
div { border: 1px solid #fff; }


/*body*/

  *{
    background-color: #000;
    margin: 0;
  }

  .hr{
    border-width: 5px;
    border-color: #fff;
  }

  h1, h2, h3, h4{
    font-family: 'Press Start 2P', cursive;
  }
  .text{
    padding: 20px;
    color: white;
  }
  .text p{
    font-size: 1.4em;
  }

/*double big divs*/

  #intro{
    font-family: 'Press Start 2P', cursive;
    padding: 3%;
  }

  #bio{
    padding: 3%;

  }

  #myBigDumbHead{
    height: 250px;
    width: 250px;

  }

/*projects*/

  .work{
    margin-top: 15%;
  }

  .example{
    border: 10px solid white;

  }

/*stat bars and stars*/

  .progress{
    margin-top: 3%;
    margin-bottom: 10px;
    border: 3px solid cornflowerblue;
    height: 20px;
  }

  .skills{
    margin-top: 30px;
    padding: 10px;
  }

  #stats{
    margin-top: 2%;
    padding: 2%;
    font-family: 'Press Start 2P', cursive;

  }


/* star styles*/

  .single{
    color: cyan;
  }

  .double{
    color: skyblue;
  }

  .triple{
    color: cornflowerblue; 
    /*best color*/
  }


/*header & footer*/

  header{
    font-family: 'VT323', monospace;
  }


  #footer-links{

    float: left;
    margin-left: 5%;
    margin-bottom: 1%;

  }

  #footer-links a{
    font-size: 1.5em;
    color: white;
    margin: 10px;
  }

  #footer-links a:hover{
    text-decoration: none;
    color: blue;
  }

  .blink {
      -webkit-animation: 2s linear infinite condemned_blink_effect;
      animation: 2s linear infinite condemned_blink_effect;
  }

/*name styles*/
  .name {
    position: relative;
      -webkit-animation: 2s linear infinite condemned_blink_effect;
      animation: 2s linear infinite condemned_blink_effect;
      animation-delay: 10s;
  }

  .j, .o, .s, .e, .p, .h, .h2, .a, .r, .s2, .k, .a2, .m, .p2{
    top: 0;
    display: inline-block;
  
    font-size: 2.5vw;
  }

  @media only screen and (max-width: 700px) and (min-width: 300px) {
      .j, .o, .s, .e, .p, .h, .h2, .a, .r, .s2, .k, .a2, .m, .p2{
      top: 0;
      display: inline-block;

    }

    .last_name{
      display: none;
    }
  }

/*-------J---------*/
  .j {
    -webkit-animation: j-fall 1s ease;
    -moz-animation: j-fall 1s ease;
    animation: j-fall 1s ease;
  }
  .j {
    position: relative;
  }
  .j:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .j:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }
/*------o--------*/
  .o {
    -webkit-animation: j-fall 1.5s ease;
    -moz-animation: j-fall 1.5s ease;
    animation: j-fall 1.5s ease;
  }
  .o {
    position: relative;
  }
  .o:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .o:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }
/*------s-------*/
  .s {
    -webkit-animation: j-fall 2s ease;
    -moz-animation: j-fall 2s ease;
    animation: j-fall 2s ease;
  }

  .s {
    position: relative;
  }
  .s:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .s:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }
/*-----e-------*/
  .e {
    -webkit-animation: j-fall 2.5s ease;
    -moz-animation: j-fall 2.5s ease;
    animation: j-fall 2.5s ease;
  }
  .e {
    position: relative;
  }
  .e:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .e:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }
/*----p-----*/
  .p {
    -webkit-animation: j-fall 3s ease;
    -moz-animation: j-fall 3s ease;
    animation: j-fall 3s ease;
  }
  .p {
    position: relative;
  }
  .p:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .p:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }
/*----h-----*/
  .h {
    -webkit-animation: j-fall 3.5s ease;
    -moz-animation: j-fall 3.5s ease;
    animation: j-fall 3.5s ease;
  }
  .h {
    position: relative;
  }
  .h:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .h:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }


/*-----H2-----*/

  .h2 {
    -webkit-animation: j-fall 4.0s ease;
    -moz-animation: j-fall 4s ease;
    animation: j-fall 4s ease;
  }
  .h2 {
    position: relative;
  }
  .h2:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .h2:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }

/*---A-------*/
  .a {
    -webkit-animation: j-fall 4.5s ease;
    -moz-animation: j-fall 4.5s ease;
    animation: j-fall 4.5s ease;
  }
  .a {
    position: relative;
  }
  .a:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .a:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }

/*-----r-----*/
  .r {
    -webkit-animation: j-fall 5s ease;
    -moz-animation: j-fall 5s ease;
    animation: j-fall 5s ease;
  }
  .r {
    position: relative;
  }
  .r:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .r:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }
/*---ss------*/
  .s2 {
    -webkit-animation: j-fall 5.5s ease;
    -moz-animation: j-fall 5.5s ease;
    animation: j-fall 5.5s ease;
  }
  .s2 {
    position: relative;
  }
  .s2:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .s2:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }
/*----k------*/
  .k {
  -webkit-animation: j-fall 6s ease;
  -moz-animation: j-fall 6s ease;
  animation: j-fall 6s ease;
  }
  .k {
    position: relative;
  }
  .k:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .k:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }
/*------a2-----a2*/
  .a2 {
    -webkit-animation: j-fall 6.5s ease;
    -moz-animation: j-fall 6.5s ease;
    animation: j-fall 6.5s ease;
  }
  .a2 {
    position: relative;
  }
  .a2:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .a2:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }
/*-----m------*/
  .m {
    -webkit-animation: j-fall 7s ease;
    -moz-animation: j-fall 7s ease;
    animation: j-fall 7s ease;
  }
  .m {
    position: relative;
  }
  .m:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .m:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }
/*------p------*/
  .p2 {
    -webkit-animation: j-fall 7.5s ease;
    -moz-animation: j-fall 7.5s ease;
    animation: j-fall 7.5s ease;
  }
  .p2 {
    position: relative;
  }
  .p2:before {
    position: absolute;
    top: 25px;
    left: 75px;
  }
  .p2:after {
    position: absolute;
    top: 75px;
    left: 50px;
  }
/*animations*/

  @-webkit-keyframes condemned_blink_effect {
      0% {
          visibility: hidden;
      }
      50% {
          visibility: hidden;
      }
      100% {
          visibility: visible;
      }
  }
  @keyframes condemned_blink_effect {
      0% {
          visibility: hidden;
      }
      50% {
          visibility: hidden;
      }
      100% {
          visibility: visible;
      }
  }

  @-webkit-keyframes j-fall {
    0% {
      opacity: 0;
      top: -500px;
    }
    
    75% {
      top: 10px;
    }
    
    100% {
      opacity: 1;
      top: 0;
    }
  }

  @-moz-keyframes j-fall {
    0% {
      opacity: 0;
      top: -500px;
    }
    
    75% {
      top: 10px;
    }
    
    100% {
      opacity: 1;
      top: 0;
    }
  }

  @keyframes j-fall {
    0% {
      opacity: 0;
      top: -500px;
    }
    
    75% {
      top: 10px;
    }
    
    100% {
      opacity: 1;
      top: 0;
    }
  }

